/* Font */
.st-font{
    font-family:"Satisfy" ;
}

html,body{
    height:100%;

}
.container-fluid{
    height: 100%;
}

/* Service icon color*/
.i-color{
    color: chartreuse;
}


.ss-color {
    color:silver;

}

a.nav-link{
    color: whitesmoke;
}

a.nav-link:hover{
    color: whitesmoke;
    background-color: rgb(99, 65, 24);
}

a.nav-link.active{
    color: yellow;
    background-color: rgb(77, 55, 175);
}